<h1>The Lorem Headline</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum deserunt minima fuga culpa, nihil quaerat, harum, quae maiores officia non alias? Enim cupiditate dolorem vero, sequi ad dolorum, deleniti qui consectetur ea iure harum dicta at ducimus deserunt ipsa magnam dolor quas aperiam eligendi blanditiis accusamus, error quam neque obcaecati!</p>

	<p><%= date_field("dop", "date_of_purchase", :value => Time.now.strftime('%Y-%m-%d') ) %>
		<i class="fa fa-calendar-times-o"></i>
	</p>
